[Unit]
Description=Scale boot volume
ConditionACPower=true

[Service]
Type=oneshot
EnvironmentFile=/etc/scale-volumes/%i.conf
ExecStart=/opt/scale-volume
